* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: Montserrat, sans-serif;
}


a {
	text-decoration: none;
	position: relatiive;
	display: inline-block;
	padding: 4px 5px;
	color: #2196f3;
	overflow: hidden;
}


.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid {
    height: 40px;
    width: 50px;
}

span {
    color: #E354ED;
}

.brand {
    color: white;
    font-size: 20px;
}

audio {
    filter: sepia(90%) saturate(30%) grayscale(0.04) contrast(89%) invert(2%);
    width: 275px;
    height: 25px;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}

.subtext {
	color: white;
}

.section-title {
	font-size: 4rem;
	font-weight: 290;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}

.section-title span {
	color: #2196f3;
}

/* Services Section */

#services {
	background-color: #24303D;
}
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}

#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}

#services .service-top p {
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.5rem;
	color: black;
}

#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, black 50%, darkgray 100%);
	opacity: .3;
	z-index: -1;
}

#services .icon-java-sql {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}


#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}

#services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#services .service-item p {
	color: white;
	text-align: left;
}


#services .service-bottom .icon img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#services .service-item:hover {
	cursor: pointer;
}

/* End Services Section */

/* Footer */

#footer {
	background-image: linear-gradient(30deg, #376071 0%, #2D5183 110%);
}

#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}

#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}

#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}

#footer .social-item img {
	filter: grayscale(1);
	transition: .3 ease filter;
}

#footer .social-item:hover img {
	filter: grayscale(0);
}

#footer p {
	color: white;
	font-size: 1.3rem;
}

/* End Footer */